* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: sans-serif;
}

section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.header {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px !important;
.logo{
    width: 80% !important;
}
    .box-position {
        top: 148px !important;
    }

    .box-position-2 {
        top: 148px !important;
        left: 40px;
    }

    .navbar-nav {
        .nav-item {
            margin-left: 13px !important;
            margin-right: 13px !important;

            .nav-link {
                font-size: 15px !important;
                color: white !important;

                &:hover {
                    color: #48ca95 !important;
                }
            }
        }
    }

    .cmper-laptop {
        font-size: 46px !important;
    }

    .accessories {
        font-size: 86px !important;
    }

    .paragraph-1 {
        font-size: 14px !important;
    }

    .buy-now {
        background-color: transparent !important;
        border: 1px solid white;
        &:hover {
        background-color: #48ca95 !important;
        }
    }

    .position {
        left: 630px !important;
    }

    @media (max-width:767.5px) {
        .position {
            left: 24px !important;
            bottom: -10px;
        }
    }

    @media (min-width:768px) and (max-width:991px) {
        .position {
            left: 384px !important;
            bottom: 100px;
        }
        .cmper-laptop {
            font-size: 34px !important;
        }

        .accessories {
            font-size: 60px !important;
        }
    }
    @media (min-width:991.5px) and (max-width:1200px) {
        .position {
            left: 530px !important;
            bottom: 100px;
        }
    }
    @media (min-width:1200px) and (max-width:2560.5px) {
        .position {
            left: 707px !important;
            bottom: 35px;
        }
    }

    .dots {
        background-color: #48ca95 !important;
        height: 18px !important;
        width: 18px !important;
        border-radius: 50% !important;
        margin-left: 3px;
        margin-right: 3px;

        &.active {
            background: #f7f7f7 !important;
        }
    }

    @media (max-width:768px) {
        .cmper-laptop {
            font-size: 30px !important;
        }

        .accessories {
            font-size: 48px !important;
        }
    }
}

.cards {
    .computer-card {
        border: 1px solid #48ca95 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        border-radius: 10px !important;

        .color {
            font-size: 72px !important;
            color: #48ca95 !important;
        }

        .computer-title {
            font-size: 24px !important;
        }

        .card-text-1 {
            font-size: 16px !important;
        }
    }
}

.products {
    background-color: #f7f7f7 !important;

    .btn-dark {
        &:hover {
            color: black !important;
            background-color: transparent !important;
            border: 1px solid #48ca95;
        }
    }

    .product {
        border-bottom: 1px solid #48ca95;
        font-size: 36px !important;
    }

    .container-color {
        background-color: white !important;
    }

    .seemore {
        border: 1px solid #48ca95 !important;
        color: #48ca95 !important;

        &:hover {
            background-color: #48ca95 !important;
            color: white !important;
        }
    }
}



.disscount {
    background-color: #4f4aa6;

    .cmpter-laptop {
        font-family: 'Dosis', sans-serif;
        font-size: 36px !important;
    }

    .up {
        font-family: 'Dosis', sans-serif;
        font-size: 68px;
        font-weight: 800;
    }

    @media (max-width:376.5px) {
        .cmpter-laptop {
            font-family: 'Dosis', sans-serif;
            font-size: 26px !important;
        }

        .up {
            font-family: 'Dosis', sans-serif;
            font-size: 50px;
            font-weight: 800;
        }
    }

    @media (min-width:767.5px) and (max-width:991px) {
        .cmpter-laptop {
            font-family: 'Dosis', sans-serif;
            font-size: 32px !important;
        }

        .up {
            font-family: 'Dosis', sans-serif;
            font-size: 58px;
            font-weight: 800;
        }
    }

    .shopnow {
        background-color: #48ca95 !important;
        color: white !important;

        &:hover {
            background-color: transparent !important;

            border: 1px solid #48ca95 !important;
            color: white !important;
        }
    }
}


.review {
    .customer-heading {
        font-size: 35px !important;
        border-bottom: 1px solid #48ca95;
    }

    .qoute {
        width: 5% !important;
    }

    .dot {
        background-color: #48ca95 !important;
        height: 18px !important;
        width: 18px !important;
        border-radius: 50% !important;
        margin-left: 3px;
        margin-right: 3px;

        &.active {
            background: #4f4aa6 !important;
        }
    }

    .position-2 {
        left: -80%;
        bottom: -46px;
    }

    @media (max-width:991.5px) {
        .position-2 {
            left: 0;
            right: 0;
            bottom: -66px;
        }
    }
}


.contact {
    background-image: url('../images/contact_g.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .white-box {
        width: 60%;
        height: 540px;
        border: 1px solid white;
    }

    .contact-heading {
        font-size: 35px !important;
        border-bottom: 1px solid gray !important;
    }

    .form-control {
        background-color: transparent !important;

        &::placeholder {
            color: white;
            font-size: 16px;
        }
    }

    .text {
        &::placeholder {
            padding-top: 50px !important;
        }
    }

    .btn-color {
        background-color: #48ca95 !important;
        color: white !important;

        &:hover {
            background-color: transparent !important;
            border: 1px solid #48ca95;
        }
    }

    @media (max-width:768px) {
        .white-box {
            width: 100% !important;
        }

    }

}

.footer {
    background-image: url('../images/footer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .logo1 {
        width: 25%;
    }

    .icons {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: white;
    }

    .about-para {
        font-size: 14px !important;
        font-weight: 500 !important;
    }

    .btn-new {
        background-color: #48ca95 !important;

        &:hover {
            background-color: transparent !important;
            color: white !important;
            border: 1px solid #48ca95;
        }
    }

}