* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: sans-serif;
}

section {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.header {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px !important;
}
.header .logo {
  width: 80% !important;
}
.header .box-position {
  top: 148px !important;
}
.header .box-position-2 {
  top: 148px !important;
  left: 40px;
}
.header .navbar-nav .nav-item {
  margin-left: 13px !important;
  margin-right: 13px !important;
}
.header .navbar-nav .nav-item .nav-link {
  font-size: 15px !important;
  color: white !important;
}
.header .navbar-nav .nav-item .nav-link:hover {
  color: #48ca95 !important;
}
.header .cmper-laptop {
  font-size: 46px !important;
}
.header .accessories {
  font-size: 86px !important;
}
.header .paragraph-1 {
  font-size: 14px !important;
}
.header .buy-now {
  background-color: transparent !important;
  border: 1px solid white;
}
.header .buy-now:hover {
  background-color: #48ca95 !important;
}
.header .position {
  left: 630px !important;
}
@media (max-width: 767.5px) {
  .header .position {
    left: 24px !important;
    bottom: -10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .position {
    left: 384px !important;
    bottom: 100px;
  }
  .header .cmper-laptop {
    font-size: 34px !important;
  }
  .header .accessories {
    font-size: 60px !important;
  }
}
@media (min-width: 991.5px) and (max-width: 1200px) {
  .header .position {
    left: 530px !important;
    bottom: 100px;
  }
}
@media (min-width: 1200px) and (max-width: 2560.5px) {
  .header .position {
    left: 707px !important;
    bottom: 35px;
  }
}
.header .dots {
  background-color: #48ca95 !important;
  height: 18px !important;
  width: 18px !important;
  border-radius: 50% !important;
  margin-left: 3px;
  margin-right: 3px;
}
.header .dots.active {
  background: #f7f7f7 !important;
}
@media (max-width: 768px) {
  .header .cmper-laptop {
    font-size: 30px !important;
  }
  .header .accessories {
    font-size: 48px !important;
  }
}

.cards .computer-card {
  border: 1px solid #48ca95 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px !important;
}
.cards .computer-card .color {
  font-size: 72px !important;
  color: #48ca95 !important;
}
.cards .computer-card .computer-title {
  font-size: 24px !important;
}
.cards .computer-card .card-text-1 {
  font-size: 16px !important;
}

.products {
  background-color: #f7f7f7 !important;
}
.products .btn-dark:hover {
  color: black !important;
  background-color: transparent !important;
  border: 1px solid #48ca95;
}
.products .product {
  border-bottom: 1px solid #48ca95;
  font-size: 36px !important;
}
.products .container-color {
  background-color: white !important;
}
.products .seemore {
  border: 1px solid #48ca95 !important;
  color: #48ca95 !important;
}
.products .seemore:hover {
  background-color: #48ca95 !important;
  color: white !important;
}

.disscount {
  background-color: #4f4aa6;
}
.disscount .cmpter-laptop {
  font-family: "Dosis", sans-serif;
  font-size: 36px !important;
}
.disscount .up {
  font-family: "Dosis", sans-serif;
  font-size: 68px;
  font-weight: 800;
}
@media (max-width: 376.5px) {
  .disscount .cmpter-laptop {
    font-family: "Dosis", sans-serif;
    font-size: 26px !important;
  }
  .disscount .up {
    font-family: "Dosis", sans-serif;
    font-size: 50px;
    font-weight: 800;
  }
}
@media (min-width: 767.5px) and (max-width: 991px) {
  .disscount .cmpter-laptop {
    font-family: "Dosis", sans-serif;
    font-size: 32px !important;
  }
  .disscount .up {
    font-family: "Dosis", sans-serif;
    font-size: 58px;
    font-weight: 800;
  }
}
.disscount .shopnow {
  background-color: #48ca95 !important;
  color: white !important;
}
.disscount .shopnow:hover {
  background-color: transparent !important;
  border: 1px solid #48ca95 !important;
  color: white !important;
}

.review .customer-heading {
  font-size: 35px !important;
  border-bottom: 1px solid #48ca95;
}
.review .qoute {
  width: 5% !important;
}
.review .dot {
  background-color: #48ca95 !important;
  height: 18px !important;
  width: 18px !important;
  border-radius: 50% !important;
  margin-left: 3px;
  margin-right: 3px;
}
.review .dot.active {
  background: #4f4aa6 !important;
}
.review .position-2 {
  left: -80%;
  bottom: -46px;
}
@media (max-width: 991.5px) {
  .review .position-2 {
    left: 0;
    right: 0;
    bottom: -66px;
  }
}

.contact {
  background-image: url("../images/contact_g.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact .white-box {
  width: 60%;
  height: 540px;
  border: 1px solid white;
}
.contact .contact-heading {
  font-size: 35px !important;
  border-bottom: 1px solid gray !important;
}
.contact .form-control {
  background-color: transparent !important;
}
.contact .form-control::-moz-placeholder {
  color: white;
  font-size: 16px;
}
.contact .form-control:-ms-input-placeholder {
  color: white;
  font-size: 16px;
}
.contact .form-control::placeholder {
  color: white;
  font-size: 16px;
}
.contact .text::-moz-placeholder {
  padding-top: 50px !important;
}
.contact .text:-ms-input-placeholder {
  padding-top: 50px !important;
}
.contact .text::placeholder {
  padding-top: 50px !important;
}
.contact .btn-color {
  background-color: #48ca95 !important;
  color: white !important;
}
.contact .btn-color:hover {
  background-color: transparent !important;
  border: 1px solid #48ca95;
}
@media (max-width: 768px) {
  .contact .white-box {
    width: 100% !important;
  }
}

.footer {
  background-image: url("../images/footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .logo1 {
  width: 25%;
}
.footer .icons {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
}
.footer .about-para {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.footer .btn-new {
  background-color: #48ca95 !important;
}
.footer .btn-new:hover {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid #48ca95;
}/*# sourceMappingURL=index.css.map */